  <%= render "shared/header" %>

  <div class = "columns">
    <div class = "columns-lists">
      <% @columns.each do |column| %>
        <div class = "column-title">
          <%= link_to column.title , column_path(column.id) %>
        </div>
      <% end %>
    </div>
  </div>