  <%= render "shared/header" %>

  <div class = "column-main">
    <div class = "column-head" >
      <%= @column.title %>
    </div>
    <div class = "column-body" >
      <%= @column.news %>
    </div>
  </div>