  <%= render "shared/header" %>

  <div class = "nutrient-show">
    <div class = "ingredients-lists">
      <h4 class = "ingredients-name">
        <%= @nutrient.label %> を多く含む食材一覧
      </h4>

      <div class = "list">
        <% if @ingredients.any? %>
          <div class = "ingredients-lists-name">
            <ul>
              <% @ingredients.each do |ingredient| %>
                <li><%= link_to ingredient.name , ingredient_path(ingredient) , class: "ingredients-list" %></li>
              <% end %>
            </ul>
              <% else %>
                <p>編集中</p>
              <% end %>
          </div>
      </div>
    </div>
  </div>