  <%= render "shared/header" %>

  <div class = "nutrient-show">
    <div class = "ingredients-lists">
      <h4 class = "ingredients-name">
        <%= @nutrient.label %> を多く含む食材一覧
      </h4>

      <div class = "list">
         
        <% if @ingredients.any? %>
        <ul>
          <% @ingredients.each do |ingredient| %>
            <li><%= link_to ingredient.name , ingredient_detail_path(ingredient) %></li>
          <% end %>
        </ul>
        <% else %>
         <p>編集中</p>
        <% end %>
      </div>
    </div>
  </div>