<%= form_with(url: search_ingredients_path, local: true, method: :get, class: "search-form") do |form| %>
  <div class = "search-bar" >
    <div class = "search-field">
      <%= form.text_field :keyword, placeholder: "食材を入力してください" %>
    </div>
      <%= form.submit "検索", class: "search-btn" %>
  </div>
<% end %>

<div class="contents row">
  <% @ingredients.each do |ingredient| %>
    <%= render partial: "ingredient", locals: { ingredient: ingredient } %>
  <% end %>
</div>