<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幼児ごはん</title>
    <%= stylesheet_link_tag 'styles', media: 'all' %>
</head>
<body>
    <header>
        <div class="logo">幼児ごはん</div>
        <nav class="nav-menu">
            <a href="<%= search_path %>">食材検索</a>
            <a href="<%= login_path %>">ログイン</a>
            <a href="<%= new_user_registration_path %>">新規登録</a>
        </nav>
    </header>

    <main class="main">
        <h1>幼児ごはん</h1>
        <p>あなたの幼児にぴったりなレシピを見つけよう</p>
        <div class="search-bar">
            <input type="text" placeholder="食材を入力してください">
            <button>検索</button>
        </div>

        <div class="buttons">
            <button>炭水化物</button>
            <button>タンパク質</button>
            <button>脂質</button>
            <button>ビタミン</button>
            <button>ミネラル</button>
        </div>

        <div class="buttons">
            <button>一食献立</button>
        </div>

        <div class="buttons">
            <button>コラム</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 幼児ごはん. <a href="#">利用規約</a> | <a href="#">プライバシーポリシー</a></p>
    </footer>
</body>
</html>